
body {
    background: aqua;
  }

  h1 {
    font-size:0.8cm;
    font-style:normal;
    font-weight:bolder;
    color:black;
  }

  h2 {
    font-size:0.6cm;
    font-style:normal;
    font-weight:bolder;
    text-decoration: underline;
    color:black;
  }

  .label {
    color: white;
    padding: 8px;
    font-size:0.5cm;
    font-style:normal;
    font-weight:lighter;
    color:black;
  }

input[type=text] {
    width: 30%;
    padding: 2px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    font-size:0.5cm;
    font-style:normal;
    font-weight:bolder;
    color:black;
  }

  input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color:white;
    padding: 5px 10px;
    margin: 4px 0;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size:0.5cm;
    font-style:normal;
    font-weight:lighter;
  }

  input, label{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }